/* base style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(51, 71, 91, 1)
}

h3{
    margin-bottom: 30px;
}

p{
    line-height: 25px;
}

h5{
    margin: 25px 0;
}

li{
    display: inline;
    padding: 0 10px;
}

a{
    text-decoration: none;
}

/* Utility class */

.container{
    width: 70%;
    margin: auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float{
float: left;
}

.btn{
    display: inline-block;
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
}

.btn_out{
    border: 1px solid rgba(254, 119, 90, 1);
    background-color: white;
}

.btn_sol{
    background-color: rgba(254, 119, 90, 1) ;
    border: none;
}

.btn_big{
    font-size: 10px;
    padding: 20px 30px;
    border-radius: 5px;
}

.btn_out>a{
    color: rgba(254, 119, 90, 1);
    text-decoration: none;
    
}

.btn_sol>a{
    text-decoration: none;
    color: white;
   
}

.btn_learn{
    height: 50px;
    width: 140px;
    display: inline-block;
}

.unstyled_list{
    list-style: none;
}




/*****
 header style 
 *****/
header{
    color: rgba(51, 71, 91, 1);
}

 /* <!-- nav fissa style --> */
.top_nav{
    background-color: rgba(244, 249, 253, 1);
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid black;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.left_side, .right_side{
    width: 50%;
    float: left;
}
.unstyled_list>li:first-child{
    padding-right: 10px;
    border-right: 1px solid rgba(51, 71, 91, 1);
}

 .right_side{
     text-align: right;
 }

 .right_side img{
     width: 14px;
 }

.right_side>.btn_out{
    margin: 0 1rem;
}
 /* <!-- nav fissa style--> */

 /* main nav style */
.main_nav{
    height: 70px;
    display: inline-block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    font-size: 14px;
    margin-top: 70px;
}

.logo_img>img{
   width: 100px;
    line-height: 70px;
    vertical-align: middle;
}

.nav_select>ul{
    text-align: right;
}
.nav_select li i{
    padding: 0 10px;
}

.nav_select li i:last-child{
    padding-right: 0;
}

/* banner style */
.banner{
    background-color: rgba(255, 243, 239, 1);
    height: 610px;
    background-image: url(../img/jumbotron.png);
    background-position: top right;
    background-repeat: no-repeat;
    position: relative;
}

.jumbotron{
    width: 30%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.jumbotron>h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.jumbotron>p{
    color: rgba(51, 71, 91, 1);
    font-size: 14px;
    margin-bottom: 30px;

}

.jumbotron p:last-child{
    font-size: 10px;
    margin-top: 30px;
}

/* separe style */
.separe{
    height: 70px;
    border-top: 2px solid rgba(51, 71, 91, 1);
    background-color: rgba(175, 235, 228, 1);
    border-bottom: 2px solid rgba(51, 71, 91, 1)    ;
}

/***** 
Main style 
******/
main{
    padding: 40px 0;
    background-color: rgba(244, 249, 253, 1);
}

/* main ban style */
.main_ban{
    text-align: center;
    width: 55%;
    margin: auto;
    padding: 30px 0 ;
}
.main_ban>img{
    height: 200px;
}

.main_ban h2{
    margin-bottom: 30px;
}
.main_ban p{
    line-height: 25px;
}

/* main column style */

#columns{
    margin-bottom: 40px;
}
.col_large{
    background-color: white;
    position: relative;
    margin-bottom: 45px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #e2ecf3;
    
}
.sx_side_cll{
    width: 40%;
    text-align: center;
    padding: 50px 0;
    
    
}
.sx_side_cll>img{
    margin: 0 auto;
    width: 150px;
    display: block;
}

.rx_side_cll{
    width: 60%;
    padding: 40px 40px 40px 0;
    
}

.rx_side_cll ul li::before{
   font-family: "Font Awesome 5 Free";
    content: "\f058";
    background-color: rgba(254, 119, 90, 1);
    margin-right: 10px;
    color: white;
    border-radius: 50%;
    
}

.col_large li:first-child{
    padding-left: 0;
}

.col_3{
    width: calc(33.333% - 40px);
    margin-right: 60px;
    background-color: white;
    text-align: center;
    padding: 30px 30px;
}

.col_3:last-child{
    margin-right: 0;
}
.col_3>img{
    height: 90px;
    margin-bottom: 10px;
}

.rx_side_cll h5::after{
        content: "";
        display: inline-block;
        width: 68%;
        vertical-align: middle;
        border-bottom: 2px solid rgba(51, 71, 91, 1);
        margin-left: 50px;
}


.col_3 p{
    font-size: 14px;
}


.col_3 ul{
    text-align: left;
    margin-bottom: 40px;
}

.col_3 ul li{
    display: block;
}

.col_3 h5::before{
    content: "";
        display: inline-block;
        width: 75%;
        vertical-align: middle;
        border-bottom: 2px solid rgba(51, 71, 91, 1);
        margin: 30px auto;
    

}

.col_3 ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    background-color: rgba(254, 119, 90, 1);
    margin-right: 10px;
    color: white;
    border-radius: 50%;
}

.sx_side_cll .btn_learn{
    margin-top: 15px;
}

/* main data section style */

.data_section{
    background-color: rgba(0, 181, 173, 1);
    color: white;
    padding: 50px;

}

.data_section > .container h2{
    text-align: center;
    font-size: 30px;
    padding: 40px 0;
}

.data_section p{
    font-size: 14px;
    text-align: center;
    
}

/* style box dati */
.lt_boxes{
    width: calc(100% / 4);
    text-align: center;
    padding: 15px 30px;
}

.row1{
    margin-top: 30px;
}

.row1 .lt_boxes{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.row2 .lt_boxes{
    border-right: 1px solid white;
}

.row1 .lt_boxes:last-child, .row2 .lt_boxes:last-child {
    border-right: 0;
}

.lt_boxes h2{
font-weight: 800;
padding: 15px 0;
}

.lt_boxes h2::after{
    content: " +";
    font-weight: normal;
}

.lt_boxes>p{
    font-size: 10px;
}

/* partner section style */
.partner_data{
    width: 30%;
    text-align: center;
    padding: 50px;
}

.partner_data>h2{
    font-size: 40px;
}

.partner_data>p{
    line-height: 25px;
    padding: 25px 25px;
    font-size: 12px;
}

.partners_logo{
    width: 70%;
    padding: 60px;
    text-align: center;
}

.gallery{
        margin-bottom: 5px;
        float: left;
        width: calc(100% / 4);
        height: 50px;
         line-height: 50px;
}

.gallery img{
    width: 60%;
    vertical-align: middle;
   
}


/* grow section style */

.banner2{
    height: 400px;
    background-image: url(../img/woman.webp);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 100% 40%;
}
.banner2_text{
    width: 40%;
    padding: 20px 0;
}

.banner2_text>h2{
    font-size: 26px;
    font-weight: 600;
}

.banner2_text>p{
    font-size: 13px;
    line-height: 20px;
    padding: 25px 0;
    
}

.banner2_text>p:last-child{
    font-size: 10px;
    margin-top: 20px;
}

/******
 Footer style 
 ******/
footer{
    background-color: rgba(50, 73, 91, 1);
    color: white;
}

/* colonne style */
 .foot_col{
     width: calc(100% / 4);
 }
 
 .foot_col>ul{
     padding-top: 40px;
 }

.foot_col>ul>li{
    display: block;
    padding: 10px 0;
    font-size: 12px;
}

.list_title{
    font-weight: bold;
    margin-bottom: 20px;
}

#sup_btn{
    border-radius: 5px;
    padding: 8px;
}

#sup_btn>a{
    font-size: 12px;
    text-decoration: none;
    color: rgba(51, 71, 91, 1);
}

.foot_col>ul>li>i{
    padding-right: 10px;
}

/* language style */
.languages{
    margin-top: 70px;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}
.languages>a{
    color: white;
    padding: 0 15px;
}


/* terms style */
.footer_logo, .terms{
    padding: 40px 0;
    width: 50%;
}

.footer_logo>img{
    filter: opacity(0.5);
}

.footer_logo span{
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
    display: block;
    filter: opacity(0.5);
}

.terms{
    text-align: right;
}
.terms>a{
    color: white;
    font-size: 12px;
}

.terms>a:first-child{
    padding-right: 10px;
}