/* base style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(51, 71, 91, 1)
}

/* Utility class */

.container{
    width: 70%;
    margin: auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.btn{
    display: inline-block;
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
}

.btn_out{
    border: 1px solid rgba(254, 119, 90, 1);
    background-color: white;
}

.btn_sol{
    background-color: rgba(254, 119, 90, 1) ;
    border: none;
}

.btn_big{
    font-size: 10px;
    padding: 20px 30px;
    border-radius: 5px;
}

.btn_out>a{
    color: rgba(254, 119, 90, 1);
    text-decoration: none;
    
}

.btn_sol>a{
    text-decoration: none;
    color: white;
   
}

.unstyled_list{
    list-style: none;
}
li{
    display: inline;
    padding: 0 10px;
}



/*****
 header style 
 *****/
header{
    color: rgba(51, 71, 91, 1);
}

 /* <!-- nav fissa style --> */
.top_nav{
    background-color: rgba(244, 249, 253, 1);
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid black;
    display: inline-block;
}

.left_side, .right_side{
    width: 50%;
    float: left;
}
.unstyled_list>li:first-child{
    padding-right: 10px;
    border-right: 1px solid rgba(51, 71, 91, 1);
}

 .right_side{
     text-align: right;
 }

 .right_side img{
     width: 14px;
 }

.right_side>.btn_out{
    margin: 0 1rem;
}
 /* <!-- nav fissa style--> */

 /* main nav style */
.main_nav{
    height: 70px;
    display: inline-block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    font-size: 14px;
}

.logo_img>img{
   width: 100px;
    line-height: 70px;
    vertical-align: middle;
}

.nav_select>ul{
    text-align: right;
}
.nav_select li i{
    padding: 0 10px;
}

.nav_select li i:last-child{
    padding-right: 0;
}

/* banner style */
.banner{
    background-color: rgba(255, 243, 239, 1);
    height: 610px;
    background-image: url(../img/jumbotron.png);
    background-position: top right;
    background-repeat: no-repeat;
    position: relative;
}

.jumbotron{
    width: 30%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.jumbotron>h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.jumbotron>p{
    color: rgba(51, 71, 91, 1);
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 20px;

}

.jumbotron p:last-child{
    font-size: 10px;
    margin-top: 30px;
}

/* separe style */
.separe{
    height: 70px;
    border-top: 2px solid rgba(51, 71, 91, 1);
    background-color: rgba(175, 235, 228, 1);
    border-bottom: 2px solid rgba(51, 71, 91, 1)    ;
}

/***** 
Main style 
******/
main{
    height: 1400px;
    background-color: rgba(244, 249, 253, 1);
}


.main_ban{
    text-align: center;
    width: 55%;
    margin: auto;
    padding: 30px 0 ;
}
.main_ban>img{
    height: 200px;
}

.main_ban h2{
    margin-bottom: 30px;
}
.main_ban p{
    line-height: 25px;
}